/* Google Font */


/* ======================================
    Shared Styles
========================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ======================================
    Header Section Styles
========================================= */

/* ======================================
    Header Section Styles
========================================= */
/* ======================================
    Header Section Styles
========================================= */


/* ======================================
    Responsive Styles
========================================= */

/* For Mobile Screen */


/* For Tablet Screen */